body {
    margin:0;
    padding:0;
    font-family: Plus Jakarta Sans;
}

li{
    text-decoration:none;
    list-style:none;
}

/* Begin Nav styling */

body {
    margin:0;
    padding:0;
    font-family: Plus Jakarta Sans;
}

nav{
    background: #2574F5;
    border-bottom:1px solid #EBEBEB;
}

.desktopnavflex{
    display:flex;
    width:86%;
    justify-content:space-between;
    margin:auto;
    align-items:center;
    padding-top:35px;
    padding-bottom:28px;
}

.desktopnavflex a{
    text-decoration:none;
    margin-right:20px;
    font-size:16.2px;
    font-weight:420;
    color:black;
}

.desktopnavimg img{
    width:150px;
}

.desktopnavflexx{
    display:none;
}

.wlmsg{
    width:86%;
    margin:auto;
}

.wlmsg h1{
   margin-top:40px;
   margin-bottom:40px;
   color:#5D5C63;
}

.wlmsg p{
    margin-bottom:40px;
    font-Weight:100;
    font-Size:22px;
    Line-height:40px;
}

 .wlmsg p a{
    color:#2574F5;
    font-Weight:500;
    padding-top:500px;
    text-decoration:none;
 }

/* Footer */

.footerbg{
    background: #2574F5;
    color:white;
    margin-top:100px;
    padding-top:65px;
    background-image: url(../Images/pt3.png);
    padding-bottom:50px;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;

}

/* .foot{
    background-image: url(../Images/pt2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
    padding: 70px 0 120px 0;
} */

.footerflex{
    display:flex;
    width:75%;
    padding-right:100px;
    margin:auto;
    justify-content:space-around;
}
 
.footerone img{
    width:150px;
}

.footerflex li a {
    font-size:14.5px;
    
}

.footerflex img{
    padding-bottom:40px;
}

.footerone li {
    margin-bottom:20px;
    font-weight:200;
}

.footertwo h4 {
    margin-bottom:25px;
}

.footertwo li {
    margin-bottom:20px;
    font-weight:200;
}

.fwlimgflex{
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:20%;
}

.fwlimg img{
    width:22px;
}

.fwltextflex{
    display:flex;
    justify-content:center;
    margin:auto;
    width:25%;
}

.fwltextflex h4{
    font-weight:300;
    font-size:16px;
}

.nazafimg img{
    padding-bottom:40px;
    padding-top:0px;
    width:100px;
    margin:auto;
}

/*  MEDIA QUERY */


@media (max-width: 900px) {
    .desktopnavflex{
        display:none;
    }

    .wlmsg p{
        margin-bottom:40px;
        font-Weight:100;
        font-Size:18px;
        Line-height:40px;
    }

    br{
        display:none;
    }

    .desktopnavflexx{
        display:flex;
        width:80%;
        justify-content:space-between;
        margin:auto;
        align-items:center;
        padding-top:35px;
        padding-bottom:28px;
    }

    .navres{
        display:none;
    }
    
    .desktopnavflexx a{
        text-decoration:none;
        margin-right:20px;
        font-size:16.2px;
        font-weight:420;
        color:black;
    }
    
    .desktopnavimgg img{
        width:100px;
    }

       /* Footer */
       .footerflex{
        display: block;
        width: 82%;
        padding-right: 0px;
    }
    
    .footerone{
        margin-bottom:40px;
    }
    
    .footertwo{
        margin-bottom:40px;
    }
    
    .fwlimgflex {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-left:20px;
        align-items:right;
        width: 75%;
    }
    
    .fwltextflex {
        display: block;
        margin: 0;
        margin-left:20px;
        align-items:right;
        width: 80%;
    }
    
    .desktopnavflexx {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 28px;
    } 
    
}
